.bigbox {
  height: 40vh;
  width: 100vw;
  background: tomato;
  padding: 30px;
  margin-top: 20vh;

  //   display: flex;
  //   justify-content: space-around;
  //   margin-top: 10vh;

  //   .box {
  //     width: 19%;
  //     background: white;
  //   }
}
